@import "./variables.css";


@font-face {
    font-family: "Circe";
    src: url("../fonts/circe-bold.ttf");
}

@font-face {
    font-family: "Circe";
    src: url("../fonts/circe-light.ttf");
}

@font-face {
    font-family: "Gilam";
    src: url("../fonts/Gilam-BlackDEMO.ttf");
}


@font-face {
    font-family: "Gilam";
    src: url("../fonts/gilam-bold.ttf");
}


.container {

    background-color : var(--primary-bg-color);
    padding: 37px 0px 241px;
    font-family: 'Circe';
    font-weight: 400;
}

.wrapper {

    width : 1460px ;
    margin: 0 auto;

}

.header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* font-weight: 700; */
}

.header__phone-wrapper {

    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.header-numder {

    margin-right: 39px;
    font-family: "Circe" ;
    font-weight: 700;

}

.header__phone {

    font-size: 20px;
    line-height: 29px;
    color: var(--primary-text-color); 
}

.phone-color {

    color: var(--phone-number-color);
}

.button {

    display: block;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    line-height: 30px;
    color: var(--header-color-button);
    border: 1px solid var(--header-color-button);
}

.button__icon {

    padding: 10px 25px 10px 49px;
    background: url("../image/icons/phone.png") no-repeat 26px 18px;

}

.title {

    font-family: 'Gilam';
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: var(--primary-text-color);
    margin-top: 120px;
}
.main__description {

    width: 1182px;
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-top: 41px;
    color: var(--primary-text-color);

}

.wrapper-services {

    display: grid;
    grid-template-columns: repeat(6, 1fr )  ;
    grid-template-rows: minmax(468px, auto) 468px;
    gap:  25px;
    margin-top: 41px;
    font-family: 'Gilam';
    font-weight: 700;

}

.service {
    display: grid;
    justify-items: center; 
    align-items: center;  
    color: var(--primary-text-color);
    background: var(--header-color-button);
    /* border: 2px solid var(--primary-text-color); */
    font-weight: 700;
    font-size: 20px;
    line-height: 28px; 
    text-align: center; 
    padding: 0px 30px;
 
}

.server__ground-work {

    grid-column-start: 1;
    grid-column-end: 3;
}

.server__pipelines {

    grid-column-start: 3;
    grid-column-end: 5;
}

.server__сhannel-arrangement {

    grid-column-start: 5;
    grid-column-end: 7;
}


.server__fixed-supports {

    grid-column-start: 1; 
    grid-column-end: 4; 
}

.server__well-device {

    grid-column-start: 4; 
    grid-column-end: 7; 
}



.server__ground-work, 
.company-name__euroinvest,
.company-name__euroinvest__second {

    background:  var(--bg-server-items1);
}

.server__pipelines {

    background: var(--bg-server-items2);
}

.server__сhannel-arrangement, 
.company-name__arsenal {

    background: var(--bg-server-items3) ;
}

.server__fixed-supports, 
.company-name__arsenal__second {

    background: var(--bg-server-items4);
}

.server__well-device, 
.company-name__setGroup {

    background: var(--bg-server-items5);
}


.wrapper-machinery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows:  repeat(7, minmax(255px, auto)); */
    grid-template-rows: repeat(8, minmax(128px, auto));
    grid-auto-rows: auto;
    gap: 29px;
    color: var(--primary-text-color);
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 400;
    margin-top: 94px;

}

.heavy-machinery {

    font-family: 'Gilam' ;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    background: var(--bg-server-items5);
    padding: 44px  52px;
}

.machine__kamaz {

    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background: var(--bg-machine__kamaz);
}

.machine__kamaz-second {

    grid-column: 2 / 3;
    grid-row: 1 / 5;
    background: var(--bg-machine__kamaz-second);
}

.machine__excavator-loader {

    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background: var(--bg-machine__excavator-loader);
}

.machine__loader {

    grid-column: 1 / 2;
    grid-row: 4 / 8;
    background: var(--bg-machine__excavator-loader);
 
}
.machine__excavator {

    grid-column: 2 / 3;
    grid-row: 5 / 8;
    background: var(--bg-server-items3);
    color: var(--text-color);
   
}

.machine__kamaz-onboard {

    grid-column: 3 /4;
    grid-row: 3 /6;
    background: var(--bg-machine__kamaz);
}

.machine__rink {

    grid-column: 3 / 4;
    grid-row: 6 / 8;
    background: var(--bg-machine__rink);
    font-family: 'Gilam' ;
    font-weight: 700 ;
} 


.heavy-machinery__text {

    font-family: 'Gilam';
    font-weight: 500;   
}

.machine__kamaz-text {

    display: block;
    text-transform: uppercase; 
    font-family: 'Gilam';
    font-weight: 700;   
}

.kamaz-onboard {

    text-transform: uppercase;
    font-family: 'Gilam' ;
    font-family: 500;
}

.container-second {

    background: var(--background-second-container);
}

.our-clients__wrapper {

    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    justify-content: space-between;
    align-items: bottom;
}

.section-clients {

    padding-top: 172px;
}

.client-title {

    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: var(--primary-text-color);
}

.company-wrapper {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(391px, auto));
    margin-top: 72px;

}

.company-name {

    display: grid;
    justify-items: center;
    align-items: center;
}

.company-name__mavis {

    /* display: grid; */
    /* align-items: center; */
    /* justify-items: center; */
    grid-template-columns: 326px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    padding: 61px 80px ;
    color: var(--primary-text-color);
    background: var(--background-mavis-block);
}

.company-name__description {

    font-weight: 600;
    /* display: block; */
}

.company-name__address {

    font-weight: 400;
}


